body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color:#FFFFFF;
    font-style: normal;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}


.container {
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section-wrap {
    padding: 120px 0;
}

.section-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin: 0 auto;
    margin-bottom: 72px;
}
/*========================HEADER===================*/

.header-section {
    border-bottom: 1px solid #E7E9FC;
    display: flex;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
}

address {
    font-style: normal;
}

.header-logo-link {
    list-style: none;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    color:#4d5ae5;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
    }

.header-logo-color {
    color: #2e2f42;
}

.navigation-sectors {
    list-style: none;
    display: flex;
    gap: 40px;
}

.navigation-item {
    position: relative;
    transition: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-item-link {
    text-decoration: none;
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-item-link:hover,
.navigation-item-link:focus {
    color: #404BBF;
}

.active-navigation-link {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.first-navigation-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
}


.head-address {
    font-style: normal;
    margin-left: auto;
    display: flex;
}

.header-address-list {
    list-style: none;
    font-style: normal;
    align-items: center;
    display: flex;
    gap: 40px;
    justify-content: flex-end;
}

ul .header-address-item {
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

li .address {
    text-decoration: none;
    color: #434455;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

li .address:hover,
li .address:focus {
    color: #404BBF;
    font-style: normal;
}

/*========================MAIN===========================*/

.section {
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
        url(../images/bg_hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 188px 0;
    max-width: 1440px;
    margin: 0 auto;
}

.main-header-first {
    color: #FFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 48px;
}

.main-button {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:#FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px 16px 32px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    display: block;
    margin: 0 auto;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover,
.main-button:focus {
    background-color: #404BBF;
}

/*====================SECTION 2===============================*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.second-section-list {
    list-style: none;
    display: flex;
    gap: 24px;
}

.second-section-item-icon {
    width: 264px;
    height: 112px;
}

.wrap-svg-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid #8E8F99;
}

.second-section-item {
    width: calc((100% - 24px * 3) / 4);
}

.second-section-header {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.second-section-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*======================SECTION TEAM==============================*/

.third-section {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.third-section-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-left: 0;
    padding-top: 8px;
    }

.third-section-item {
    background-color: #FFFFFF;
    width: calc((100% - 24px * 3)/ 4);
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
}

.third-section-img {
    width: 100%;
}

.section-three-cont {
    text-align: center;
    padding: 32px 0;
}

.third-section-hthree {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.third-section-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-social-list {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 24px;
}

.team-social-icon {
    width: 40px;
    height: 40px;
}

.team-social-icon-link {
        width: 100%;
        height: 100%;
        background-color: #4D5AE5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-svg-team {
    fill: #f4f4fd;
}

.team-social-icon-link:hover,
.team-social-icon-link:focus {
    background-color: #404BBF
}

/*============================SECTION PORTFOLIO========================*/

.fourth-section-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.fourth-section-item {
    width: calc((100% - 24px * 2)/ 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.fourth-section-item:hover,
.fourth-section-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
}

.fourth-section-item:hover .img-paragraf {
    transform: translateY(0%);
}

.portfolio-cont {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: 0;
}

.fourth-section-hthree {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.fourth-section-class {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.image-wrapper-portfolio {
    position: relative;
    overflow: hidden;

}

.img-paragraf {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*=====================FOOTER============================*/

.footer{
    background-color: #2E2F42;
    padding: 100px 0;
}

.footer-all-wrapper {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: baseline;
}

.footer-logo-container {
    margin-right: 120px;
}

.footer-logo {
    text-decoration: none;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-wrap {
    margin-bottom: 17.5px;
}

.footer-logo-color {
    color: #f4f4fd;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.footer-text-social {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-social-container {
    margin-right: auto;
}

.footer-social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-left: 0;
    margin: auto;
    list-style: none;
}

.footer-social-icon {
    width: 40px;
    height: 40px;
}

.footer-social-icon-link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-icon-footer {
    fill: #F4F4FD;
}

.footer-social-icon-link:hover,
.footer-social-icon-link:focus {
    background-color: #31D0AA;
}

.subscription-form {
    display: flex;
    gap: 24px;
}



.subscription-input-footer {
    width: 264px;
    height: 40px;
    padding-left: 16px;
    color: #ffffff;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.subscription-input-footer::placeholder {
    color: #ffffff;
}

.subscription-button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
    background-color: #4D5AE5;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


.subscription-button:hover,
.subscription-button:focus {
    background-color: #404BBF;
    }

.subscription-button .icon-container {
    fill: #F4F4FD;
    margin-left: 16px;
    }
/*=====================BACKDROP============================*/

.backdrop {
position: fixed;
top: 0;
width: 100%;
height: 100%;
background-color: rgba(46, 47, 66, 0.4);
opacity: 0;
visibility: hidden;
pointer-events: none;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
            visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    background-color: rgba(252, 252, 252, 1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    right: 24px;
    top: 24px;
    background-color: #E7E9FC;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #404bbf;
    border: none;
}

.modal-btn-icon {
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover .modal-btn-icon,
.modal-btn:focus .modal-btn-icon {
    fill: #ffffff;
}

.modal-header {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    width: 360px;
    height: 24px;
    margin-bottom: 16px;
}

.form-field {
    margin-bottom: 8px;
}

.form-label {
    display: block;
    font-size: 12px;
    color: rgba(142, 143, 153, 1);
    margin-bottom: 4px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.input-wrapper{
    position: relative;
}

.modal-icon-input {
    position: absolute;
    fill: #2E2F42;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    color: rgba(46, 47, 66, 0.4);
    font-size: 12px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus,
.form-input:hover {
    border-color: #4D5AE5;
}

.form-input:focus + .modal-icon-input,
.form-input:hover + .modal-icon-input {
    fill: #4D5AE5;
}

.form-field-textarea {
    margin-bottom: 16px;
}

textarea {
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

textarea:focus,
textarea:hover {
    border-color: #4D5AE5;
}

.form-textarea {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    font-size: 12px;
    color: rgba(46, 47, 66, 0.4);
    line-height: 1.17;
    letter-spacing: 0.04em;
    resize: none;
}

.form-textarea::placeholder {
    color: rgba(46, 47, 66, 0.4);
    font-size: 12px;
}

.privacy-cont {
    margin-bottom: 24px;
}

.privacy-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

input[type="checkbox"]+label>span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition:
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}

input[type="checkbox"]:checked+label>span {
    background-color: #404BBF;
    border: none;
    fill: #f4f4fd;
}

input[type="checkbox"]:focus+label>span {
    border-color: #404BBF;
}

.privacy-link {
    color: #4d5ae5;
    text-decoration: underline;
}

.form-btn {
    min-width: 169px;
    height: 56px;
    font-family: inherit;
    padding: 16px 32px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px #00000026;
    display: block;
    cursor: pointer;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover,
.form-btn:focus {
    background-color: #404BBF;
}